*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 14px;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


/* header */
header{
    height: 500px;
    background-image:url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.section1-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
}

.section1-header .button{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    border-radius: 40%;
    color: blue;
}
section .nav-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-header a{
    margin: 0 20px;
    text-decoration: none;
    color: white;
}

header .section2-header{
    text-align: center;
    margin: 125px auto 0;
}

.section2-header h1{
    margin-bottom: 30px;
    font-size: 40px;
    color: white;
}

.section2-header p{
    margin: auto auto 40px;
    text-align: center;
    width: 500px;
    color: white;
}

.section2-header .button{
    margin: auto 10px;
    border-radius: 40%;
    padding: 15px;
    text-decoration: none;
}
.section2-header .button-white{
    background-color: white;
    color: black;
}
.section2-header .button-black{
    background-color: black;
    color: white;
}


/* main */
main{
    margin: 70px auto;
}
.bg-main{
    background-color: azure;
}

main .section1-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px auto 250px;
}

.section1-main .img-text{
    height: 350px;
    margin: auto 25px;
}

.section1-main .text{
    padding-top: 30px;
    width: 15%;
}
.section1-main .text h2{
    font-size: 30px;
    margin-bottom: 17.5px;
}

.section1-main .img{
    background-size: 100%;
    background-repeat: no-repeat;
    width: 35%;
}

.section1-main .img1{
    background-image: url(../img/item1.svg);
}
.section1-main .img2{
    background-image: url(../img/item2.svg);
}
.section1-main .img3{
    background-image: url(../img/item3.svg);
}


main .section2-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section2-main .img{
    height: 500px;
    width: 57%;
    margin-bottom: 20px;
}
.section2-main .img4{
    background-image: url(../img/item4-big.svg);
    background-repeat: no-repeat;
}

.section2-main .text{
    height: 100px;
    width: 50%;
    margin-bottom: 20px;
    text-align: center;
}
.section2-main .text h2{
    font-size: 30px;
    margin-bottom: 25px;
}

.section2-main .end-text{
    height: 100px;
    width: 50%;
    text-align: center;
    margin-bottom: 90px;
}
.section2-main .end-text h3{
    font-size: 25px;
    margin: 50px auto;
    background-image: url(../img/stars.svg);
    background-size: 400px;
}
.section2-main .end-text a{
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 255, 0.491);
    padding: 15px;
    border-radius: 40%;
}

/* Footer */
footer{
    background-color: black;
    color: white;
}

.container-footer{
    max-width: 1200px;
    width: 75%;
    margin: 0 auto;
    /* justify-items: center; */
    padding: 30px 100px 20px;
    display: flex;
    /* justify-content: space-between; */
    border-bottom: 1px solid white;
}
  
    /* section1 footer */
.section1-footer{
    margin-top: 15px;
    margin-right: 40px;
}

.section1-footer h3{
    color: blue;
    font-size: 22.5px;
    margin-bottom: 15px;
}
.section1-footer img{
    width: 20px;
    vertical-align: middle;
}

    /* section2 footer */
.section2-footer{
    display: flex;
    justify-content: space-between;
}

.column-footer{
    text-decoration: none;
    color: white;
}

/* .column-start-footer{
    padding-right: 115px;
} */
.column-middle-footer{
    padding-left: 115px;
}
.column-end-footer{
    padding-left: 115px;
}

.title-column{
    color: blue;
    margin-bottom: 15px;
}

.column-footer a{
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.end-footer{
    display: flex;
    justify-content: space-around;
    margin: 20px auto 0;
    padding-bottom: 50px;
}

.end-footer a{
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 255, 0.491);
    padding: 15px;
    border-radius: 40%;
    margin-left: 400px;
}